.login-page {
    align-items: center;
    background-attachment: fixed;
    background-image: url('https://images.pexels.com/photos/965875/pexels-photo-965875.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }