.login-container {
  align-items: center;
  background-color: #0fa36b;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.login-container form {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
}

.login-container form img {
  width: 300px;
}

.login-container form label {
  color: #343333;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.login-container form label input {
  background-color: #bae2be;
  border-radius: 8px;
  font-size: 20px;
  line-height: 28px;
  padding-left: 10px;
}

.btn-play {
  background-color: #035b39;
  border-radius: 10px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 22px;
  line-height: 35px;
  margin: 10px 0;
  width: 100%;
}

.btn-play:disabled {
  background-color: #27e294;
  cursor: inherit;
}

.btn-settings {
  align-items: center;
  background-color: #1d7551;
  border-radius: 10px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
}
