.ranking-section {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.ranking {
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  height: 70px;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
  width: 100%;
}

.ranking:nth-child( even ) {
  background-color: rgba(0, 0, 0, 0.051);
}

.ranking:first-child {
  border-radius: 20px 20px 0 0;
}

.ranking:last-child {
  border-radius: 0 0 20px 20px;
}

.name {
  align-items: center;
  color: white;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-align: right;
}

.header-name, .header-score {
  margin: 0;
  padding: 0;

}

.picture {
  border-radius: 50%;
  height: 55px;
  margin-right: 20px;
}

.score {
  align-items: center;
  color: white;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}
