.correct-answer:disabled {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer:disabled {
  border: 3px solid red;
}

.questions-display {
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 5px;
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 50px;
  width: 60vw;
}

.timer {
  background-color: rgb(46, 46, 46);
  color: white;
  font-size: 1.3em;
  padding: 15px;
  text-align: right;
}
