.login-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-content {
  background: linear-gradient(0deg,
  rgba(111, 102, 102, 0.37) 0%,
  rgba(111, 102, 102, 0.616) 30%
);
  border-radius: 2rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.433);
  display: flex;
  flex-direction: column;
  height: 55vh;
  padding: 1.1rem;
  text-align: center;
  width: 70vw;
}

.login-content img {
  margin-bottom: 2rem;
  width: 85%;
}

.btn-play {
  background: none;
  border: none;
  font-family: DM Sans , sans-serif;
  font-size: 4em;
}

.btn-play:focus {
  outline: none;
}

.btn-settings {
  background: none;
  border: none;
  fill: rgba(255, 255, 255, 0.864);
}

.btn-settings:focus {
  outline: none;
}

.btn-settings:hover {
  animation: spin 6s;
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}

.settings-icon-content {
  display: flex;
  justify-content: flex-end;
}

.icon-settings {
  width: 2.5rem;
}

.login-inputs {
  background: rgb(238, 245, 219);
  border: none;
  border-radius: 1.5rem;
  font-size: 1.1em;
  height: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.login-inputs:focus {
  outline: none;
}

.header-container {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.433);
  display: flex;
  height: 10vh;
  justify-content: center;
}

.header-content {
  align-items: center;
  display: flex;
  height: 100%;
  width: 90%;
}

.header-content img {
  border-radius: 50%;
  height: 80%;
  margin-right: 1rem;
}

.header-user {
  display: flex;
  flex-direction: column;
  font-size: larger;
}

.header-player-name {
  font-size: 1.5em;
  font-weight: 400;
  margin: -0.5rem 0.5rem 0 0;
}

.sound-field {
  display: flex;
  margin-left: 5.5rem;
  width: 30%;
}

.game-container {
  height: 100vh;
}

.questions-container {
  padding: 1.5rem;
}

@media only screen and ( min-width : 600px ) {

  .login-content { width: 20vw; }

  .container {
    background-position: center;
    background-size: cover;
  }

  .sound-btn-container { justify-content: center; }

  .header-content {
    justify-content: flex-start;
    width: 100%;
  }
}
