.login-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field {
  align-items: center;
  left: 50%;
  margin: 25px 50px;
  width: 100%;
}

.field input {
  box-sizing: border-box;
  height: 50px;
  width: 300px;
  text-align: center;
}

button {
  background: #333;
  color: white;
  height: 50px;
  width: 300px;
}

button:disabled {
  background: #333;
  color: white;
  opacity: 0.3;
  width: 300px;
}
