body {
  align-items: center;
  background-color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;
}

form {
  align-items: center;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  position: relative;
  width: 250px;
}

label {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  border-radius: 5px;
  border-style: hidden;
  height: 40px;
  text-align: center;
}

button {
  background-color: #b80047;
  border: transparent;
  border-radius: 5px;
  height: 40px;
  margin: 10px;
  width: 100px;
}
