body {
  align-items: center;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;
}

form {
  align-items: center;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  position: relative;
  width: 250px;
}

label {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  border-radius: 5px;
  border-style: hidden;
  height: 40px;
  text-align: center;
}

button {
  background-color: #b80047;
  border: transparent;
  border-radius: 5px;
  height: 40px;
  margin: 10px;
  width: 100px;
}

.btn-config {
  color: white;
  height: 40px;
  width: 40px;
}

h1 {
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.img-trivia {
  animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  margin-top: 30px;
  width: 200px;
}

.header {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.logo-header {
  animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  margin-left: 40px;
  margin-top: 15px;
  height: 80%;
 }

.gamer-stats {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin-right: 40px;
  width: 200px;
}

.gamer-avatar {
  border-radius: 30px;
  height: 70px;
  width: 70px;
}
.answer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100vw;
}

.answer-container {
  width: 400px;
  height: 400px;
}

.answer-container button {
  width: 100%;
  background-color: white;
  color: black;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-btn-container {
  display: flex;
  align-items: center;
}

.ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ranked {
  align-items: center;
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 10px;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.wright-answer {
  border: 3px solid rgb(6, 240, 15);
  background-color: rgb(6, 240, 15);
  color: black;
}

.wrong-answer {
  border: 3px solid red;
  background-color: red;
  color: white;
}
