body {
  align-items: center;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  width: 100vw;
}

form {
  align-items: center;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  position: relative;
  width: 250px;
}

label {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input {
  border-radius: 5px;
  border-style: hidden;
  height: 40px;
  text-align: center;
}

button {
  background-color: #b80047;
  border: transparent;
  border-radius: 5px;
  height: 40px;
  margin: 10px;
  width: 100px;
}

.btn-config {
  color: white;
  height: 40px;
  width: 40px;
}

h1 {
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.img-trivia {
  animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  margin-top: 30px;
  width: 200px;
}

.header {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.header-logo {
  animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  height: 90%;
  margin-left: 60px;
  margin-top: 10px;
}


.gamer-stats {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin-right: 60px;
  width: 200px;
}

.gamer-avatar {
  border-radius: 30px;
  height: 70px;
  width: 70px;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80vw;
}

.answer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.answer-btn {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.answer-btn button {
  background-color: white;
  width: 100%;
}

.wright-answer {
  border: 3px solid rgb(6, 240, 15);
  background-color: rgb(6, 240, 15);
  color: black;
}

.wrong-answer {
  border: 3px solid red;
  background-color: red;
  color: black;
}

.feedback-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.feedback-btn {
  align-items: centers;
  display: flex;
  width: 100%;
}

.rank-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rank-element {
  align-items: center;
  background-color: slategray;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 400px;
}

.rank-element:first-of-type {
  background-color: chartreuse;
  color: red;
}