.login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form {
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  display: flex;
  flex-direction: column;
  height: 400px;
  background-image: url("https://brancopapeldeparede.fbitsstatic.net/img/p/papel-de-parede-degrade-amarelo-099-71219/241063-1.jpg?w=542&h=730&v=202010301756");
  background-size: cover;
  justify-content: center;
  width: 450px;
  margin-left: -59px;
}


.input {
  border-radius: 5px;
  margin: 0.3em;
  text-align: center;
}

.text {
  width: 85%;
}
