.main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form {
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 400px;
}

.input {
  border-radius: 5px;
  margin: 0.3em;
  text-align: center;
}

.text {
  width: 85%;
}

.settings {
  font-size: 3em;
  margin: 0 50px 30px 0;
  text-decoration: none;
}

.footer {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  height: 0;
  width: 100vw;
}
