html {
  background-color: rgb(245, 226, 200);
  min-width: 100%;
}

.inputLogin {
  align-items: center;
  border: 2px solid black;
  background-color: rgb(132, 169, 192);
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
}

.right {
  border: 3px solid rgb(6, 240, 15);
}

.wrong {
  border: 3px solid red;
}
