.game-header {
    align-items: center;
    background-color: black;
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: space-between;
    width: 100vw;
  }
  
  .player-header-information {
    align-items: flex-end;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-between;
    margin-right: 60px;
    width: 20vw;
  }

  .image-logo-header {
    margin-top: 20px;
    margin-left: 60px;
    width: 7%;
  }