.header__container {
  align-items: center;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.header__profile {
  align-items: center;
  display: flex;
}

.header__profile img {
  border-radius: 50%;
  margin-right: 10px;
}
