.header-section {
  align-items: center;
  background-color: #ff9914;
  color: #f21b3f;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
}

.header {
  background-color: #ff9914;
  color: #f21b3f;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  height: 100px;
  width: 100%;
}

.header-label {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.header-name {
  align-items: center;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-align: right;
}

.header-score {
  align-items: center;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin-right: 150px;
  text-align: left;
}

.ugly-picture {
  border-radius: 50%;
}
