.ranking-display {
  background-color: rgba(0, 0, 0, 0.952);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 75vh;
  margin-top: 10px;
  padding: 20px;
  width: 60vw;
}

.jogar-novamente-button {
  align-self: center;
  background-color: rgb(3, 190, 10);
  border: rgba(255, 255, 255, 0.863);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);
  color: white;
  font-size: 1em;
  font-weight: 600;
  margin: 5px 27px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 20%;
}

.ranking-title {
  border-radius: 5px;
  color: rgb(153, 3, 190);
  font-size: 2em;
  font-weight: 700;
  margin: 40px 20px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.521);
}


.player {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playet-item {
  font-weight: 600;
  margin-left: 20px;
}
