.correct {      
   border: 3px solid rgb(6, 240, 15);
}

.incorrect {
    border: 3px solid rgb(255, 0, 0);
}

.button {
    margin-top: 50px;
    display: inline-block;
	font-size: 18px;
	color: #2f70e1;
	padding: 10px 30px;  
	box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
    cursor: pointer;
}