.ranking-container {
  background-color: #f5f5f5;
  width: max-content;
  margin: auto;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: clamp(20vw, 40rem, 60vw);
  padding: 30px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.384);
}

.ranking-container h1 {
  margin: 20px;
  font-weight: 700;
}

.ranking-container p {
  margin: 20px;
  font-weight: 700;
}

.ranking-container button {
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: rgb(1, 0, 85);
  margin: 10px;
}