.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

/* Styled component */

@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap') ;

.container-fluid {
  background-image: url('./image/bg-image.jpg');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container-form {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.bottom-content {
  background-color: white;
  color: #afaaaa;
  font-size: 9pt;
  text-align: center;
  width: 100%;
}

.form-login {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin: 50px;
  min-height: 150px;
  padding: 10px;
  width: 250px;
}

.label-form {
  color: #afaaaa;
  font-size: 15pt;
}

.input-form {
  background-color: #bacbcf;
  padding: 5px;
  width: 100%;
}

.btn-login-form {
  background-color: #79d0f5;
  color: white;
  font-weight: 700;
  padding: 10px;
  width: 100%;
}

.btn-actions {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 20px;
  padding: 10px;
}

.btn-actions:hover {
  box-shadow: 1px 1px 4px rgba(11, 148, 182, 0.63);
}

.header {
  background-color: black;
  color: white;
  display: flex;
  padding: 5px;
  width: 100%;
}

.logo .score .player .avatar {
  flex: 1;
}

.answer {
  display: block;
  margin-bottom: 5px;
  font-size: 13pt;
}

.questions {
  background-color: #dbdada;
  border: none;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.timer {
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px;
  color: red;
  font-size: 10pt;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.correct-answer {
  border:3px solid rgb(6, 240, 15);
  border-radius: 5px;
}

.wrong-answer {
  border: 3px solid rgb(255, 0, 0);
  border-radius: 5px;
}
.category {
  font-weight: 700;
  margin-bottom: 10px;
  padding-left: 5px;
}