.answer-section {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.answer-box {
  border: 3px solid white;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  justify-content: space-around;
  margin: 25px;
  width: 45%;
}

.green {
  background-color: #29bf12;
}

.pink {
  background-color: #f21b3f;
}

.orange {
  background-color: #ff9914;
}

.purple {
  background-color: #824ab9;
}

.right {
  border: 3px solid #06f00f;
}

.wrong {
  border: 3px solid red;
}
